{{- if .Values.extender.init_job }}
kind: Job
apiVersion: batch/v1
metadata:
  name: {{ .Values.name }}-init-job
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
    component: {{ .Values.name }}-init-job
spec:
  completions: {{ or .Values.globalconfig.NumOfMasters 3 }}
  parallelism: {{ or .Values.globalconfig.NumOfMasters 3 }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
        component: {{ .Values.name }}-init-job
    spec:
      hostNetwork: true
      tolerations:
      - effect: NoSchedule
        operator: Exists
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: In
                values:
                - ""
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - {{ .Values.name }}-init-job
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: init
        image: {{ .Values.globalconfig.RegistryURL }}/{{ .Values.images.local.image }}:{{ .Values.images.local.tag }}
        command:
        - sh
        - "-c"
        - |
            set -ex

            sleep 4

            echo "generating scheduler-policy-config.json..."

            cat >/etc/kubernetes/scheduler-policy-config.json <<EOF
            {
            "kind" : "Policy",
            "apiVersion" : "v1",
            "extenders" : [{
                "urlPrefix": "http://{{ .Values.extender.name }}.{{.Values.namespace}}:23000/scheduler",
                "filterVerb": "predicates",
                "prioritizeVerb": "priorities",
                "preemptVerb": "",
                "bindVerb": "",
                "weight": 10,
                "enableHttps": false,
                "nodeCacheCapable": true,
                "ignorable": true
            }],
            "hardPodAffinitySymmetricWeight" : 10
            }
            EOF

            echo "modifying kube-scheduler.yaml..."

            if ! grep "^\  dnsPolicy: ClusterFirstWithHostNet" /etc/kubernetes/manifests/kube-scheduler.yaml; then
                sed -i "/  hostNetwork: true/a \  dnsPolicy: ClusterFirstWithHostNet" /etc/kubernetes/manifests/kube-scheduler.yaml
            fi

            if ! grep "^\    - --policy-config-file=*" /etc/kubernetes/manifests/kube-scheduler.yaml; then
                sed -i "/    - --kubeconfig=/a \    - --policy-config-file=/etc/kubernetes/scheduler-policy-config.json" /etc/kubernetes/manifests/kube-scheduler.yaml
            fi

            if ! grep "^\      name: scheduler-policy-config" /etc/kubernetes/manifests/kube-scheduler.yaml; then
                sed -i "/    volumeMounts:/a \    - mountPath: /etc/kubernetes/scheduler-policy-config.json\n      name: scheduler-policy-config\n      readOnly: true" /etc/kubernetes/manifests/kube-scheduler.yaml
                sed -i "/  volumes:/a \  - hostPath:\n      path: /etc/kubernetes/scheduler-policy-config.json\n      type: File\n    name: scheduler-policy-config" /etc/kubernetes/manifests/kube-scheduler.yaml
            fi
        volumeMounts:
        - name: kube-dir
          mountPath: /etc/kubernetes/
      restartPolicy: OnFailure
      volumes:
        - name: kube-dir
          hostPath:
            path: /etc/kubernetes/
            type: DirectoryOrCreate
{{- end }}