apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.storageclass.lvm.name }}
provisioner: {{ .Values.driver }}
parameters:
  volumeType: "LVM"
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.storageclass.lvm_xfs.name }}
provisioner: {{ .Values.driver }}
parameters:
  volumeType: "LVM"
  csi.storage.k8s.io/fstype: xfs
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.storageclass.lvm_io.name }}
provisioner: {{ .Values.driver }}
parameters:
  volumeType: "LVM"
  bps: "1048576"
  iops: "1024"
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.storageclass.device_hdd.name }}
provisioner: {{ .Values.driver }}
parameters:
  volumeType: Device
  mediaType: hdd
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: false
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.storageclass.device_ssd.name }}
provisioner: {{ .Values.driver }}
parameters:
  volumeType: Device
  mediaType: sdd
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: false
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: {{ .Values.storageclass.mountpoint_hdd.name }}
provisioner: {{ .Values.driver }}
parameters:
    volumeType: MountPoint
    mediaType: hdd
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: {{ .Values.storageclass.mountpoint_ssd.name }}
provisioner: {{ .Values.driver }}
parameters:
    volumeType: MountPoint
    mediaType: ssd
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer